/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /reset */
/* typo */
.notifications_text a,
.avatar_info span,
.message_footer input{
  color: #6B7376;
  font-size: 14px;
}
#smile,
#microphone{
  font-size: 25px;
  color: #6B7376;
}
/* /typo */
/* mix */
.header_container{
  height: 75px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.search input,
#search_button,
.message_footer input,
#smile,
#microphone
{
  border: none;
  outline: none;
  padding: 5px;
  color: #B1B1B1;
}
/* /mix */
.wrapper{
  height: 100vh;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  background: rgb(219,219,210);
  background: linear-gradient(0deg, rgba(219,219,210,1) 80%, rgba(0,150,136,1) 80%);
}
/* main */
main{
  width: 75%;
  min-width: 950px;
  height: 95%;
  margin: auto;
  background-color: blue;
  display: flex;
}
.contact_box{
  width: 40%;
  background-color: #fff;
  border-right: 1px solid lightgrey;
}
/* avatar */
.avatar_name{
  display: flex;
  align-items: center;
}
.avatar_name img{
  width: 50px;
  border-radius: 50%;
  margin-right: 8px;
}
.avatar_icons i{
  color: #B1B1B1;
  margin-left: 8px;
}
/* /avatar */
/* notifications */
.notifications{
  height: 85px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #8EDAFC;
}
.notifications::before{
  background-color: #fff;
  color: #8EDAFC;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  content: '\f1f6';
  font-family: 'Font Awesome 5 Free';
  display: block;
  border-radius: 50%;
  margin-right: 10px;
}
/* /notifications */
/* search */
.search{
  height: 40px;
  background-color: #EAEAEA;
  padding: 6px;
  display: flex;
}
#search_button{
  width: 15%;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.search input{
  width: 85%;
  border-left: 1px solid #ddd;
}
/* /search */
/* contacts */
.contacts_box{
  height: calc(100% - 200px);
  overflow-y: scroll;
}
.contacts_list{
  list-style: none;
}
.contacts_list li{
  padding: 12px;
}
.contacts_list li:hover{
  background-color: #B1B1B1;
  cursor: pointer;
}
.contacts_list img{
  width: 55px;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 10px;
}
/* /contacts */
/* message container */
.message_container{
  width: 60%;
  background-color: lightgrey;
}
.message_box{
  height: calc(100% - 140px);
  background-image: url('../img/mine.jpg');
  overflow-y: scroll;
}
.message_footer{
  padding: 8px 20px;
  height: 65px;
  background-color: #F3EEEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message_footer input{
  width: 85%;
  padding: 12px 8px;
  border-radius: 5px;
}

/* /message container */
